/* Reset CSS */
  /* This CSS resets the default styles of HTML elements to ensure consistency across different browsers. */
  
  /* Universal selector to apply styles to all elements */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    line-height: 1.5;
    font-family: Arial, sans-serif;
  }
  